body {
	background-color: #f8f5f0;
}

.alert {
	color: #3e3f3a;
}

.alert a {
	color: #3e3f3a;
}

.center {
    text-align:center;
}

.center form {
    display:inline-block;
}

.btn {
	font-size: large;
}