<!DOCTYPE HTML>
<html>
  <head>
    <link type='stylesheet' text='text/css' rel='style/bootstrap.min.css'/>
    <script src='script/jquery.min.js'></script>
    <script src='script/bootstrap.min.js'></script>
    <script src='script/app.js'></script>
  </head>
  <body>
    <h1>Hello, world!</h1>
  </body>
</html>